* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url(Roboto_Slab/Roboto_Slab-VariableFont_wght.ttf);
}

body {
    background-color: black;
}
